@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,500;1,400&family=Rye&family=Vidaloka&display=swap');

* {
    position: relative;
    box-sizing: border-box;


}
body {
    
    font-family: 'Roboto',"sans-serif";
    font-weight:400;
    font-size:1rem;
    background-color: #ecded7;
    color:#09363f;
}
.container {
    margin: 5px;
    padding: .5rem;
    background-image: radial-gradient(#eccdbe, #eec5c7);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height:200vw;

}

   header {

    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Vidaloka',"sans-serif";
    font-weight:400;
    font-size:24px;
    background-image: linear-gradient(#d8a4a4 30%, #af8281 70%);
    position: relative;

}


.logo {
    display: block;
    justify-content: flex-start;
    margin: 2px;
    padding: 10px;
}
.logo h2{ 
    font-family:'rye','cursive';
    font-weight:400;
    font-size: 2rem;
    margin:4px;
    color:#8E1414;
   
}

nav ul {
    display: inline-flex;
    justify-content: left;
    list-style: none;
    margin: 2.5rem;
    padding: .2rem;
    
}

nav a{
    text-decoration: none;
    margin: .5rem;
    color:#8E1414;

}
nav li {
    display: inline-flex;
    padding: 0;
    

}

/*h1 {
    font-family: "Vidaloka"sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;

}*/
h1 {
    font-family:'Vidaloka','san-serif';
    font-size: 14vw;
    display:flex;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    color:#116a7c;
}

.text ,p {
    font-size: 3vw;
    text-align: center;
}

.contact-form {
    width: 60vw;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, .07);
    padding: 2em;
    margin: 10vh;
    background-color: #d8a4a4;
    border-radius: 5px;

}

.form-group {
    margin-bottom: 1em;
    transition: all .4s;
}

.form-label {

    font-size: 1em;
    color: #2f1818;
    display: block;
    opacity: 1;
    transform: translateY(-1.25em);
    transform-origin: 0 0;
    transition: all .3s;
}

.form-control {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 0px;
    border-color: #af8281;
    border-style: none none solid none;
    width: 100%;
    transition: all .5s;

}
.form-message{
    border-color: 3px solid #2f1818;
    border-style:  solid ;
    transform-origin: 0 0 ;
}

.form-level{
    display: block;
    position: absolute;

    border-color: 1px solid #2f1818;
    transform: translateY(150rem);
    transform-origin: 0 0 ;

}


.form-control::placeholder {
    color: transparent;

}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #2f1818;
}

.form-group:focus-within {

    transform: scale(1.05, 1.05);
}

.form-control:focus+.form-label,
.form-control:not(:placeholder-shown)+.form-label {

    transform: translateY(-2.5em) scale(.8);
}

.button{
    font-family: 'Vidaloka',serif;
    font-weight: 400;
    padding-left:-4rem ;
    padding-bottom:-4rem;
    margin:5px;
    text-align:center;
    width: 150px;
    height: 50px;
    font-size:1.5em;
    color:#8E1414;;
    background-color:transparent;
    border:3px solid #af8281 ;
    border-radius: 10px;
    animation:button_up 1s 2s ease-in both;
}

.button a {
 color:#8E1414;
 text-decoration: none;
 text-align: center;
 

}
.button:hover {

filter: drop-shadow(.5rem 1rem .5rem rgb(236, 155, 49));
transform: scale(1,2);
cursor: pointer;
}

.icons{
    margin:15px;
    width:30px;
    height:30px;
    
}


footer {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 500px;
    margin-bottom: 0;
    background-color: #df6743;
    color: #ffe3d6;


}
@media screen and (min-width:650px){

   body{
       font-size:1remw;
   }
   nav li{
       
    padding:1rem;
    font-size:2rem;
    
    
}
    
        main {   
            display: block;
            max-width:100%;
    
        }
.container{
    max-width:100%;
}

    }